In [4]:
import numpy as np
import random
import string
import pandas as pd

In [5]:
string.digits+string.ascii_lowercase+string.ascii_uppercase+string.digits

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

In [6]:


def randomString(stringLength=10):
    letters = string.digits+string.ascii_lowercase+string.ascii_uppercase+string.digits
    return ''.join(random.choice(letters) for i in range(stringLength))

print("Random String is ", randomString())
print("Random String is ", randomString(8))
print("Random String is ", )

Random String is  Sl4QrJ3J9o
Random String is  HZbLS2rz
Random String is

In [7]:
nv=50
ng=25

In [15]:
ids =[[randomString(12) for i in range(nv)] for j in range(ng)]

In [18]:
def getConnections(ids):
    l=[]
    for i in range(ng):
        for j in range(nv*3):
            ind1=int(random.randint(0,nv-1))
            ind2=int(random.randint(0,nv-1))
            if ind1==ind2:
                ind2+=1
                ind2%=10
            l+=[[ids[i][ind1],ids[i][ind2]]]
    return l            
def getCRConnections(ids):
    l=[]
    for i in range(ng):
        for j in range(nv*2):
            ind1=int(random.randint(0,nv-1))
            ind2=int(random.randint(0,nv-1))
            ind3=int(random.randint(0,ng-1))
            ind4=int(random.randint(0,ng-1))
            if ind1==ind2:
                ind2+=1
                ind2%=nv
            if ind3==ind4:
                ind4+=1
                ind4%=ng    
            l+=[[ids[ind3][ind1],ids[ind4][ind2]]]
    return l

In [19]:
conn=getConnections(ids)+getCRConnections(ids)

In [20]:
name=pd.read_csv("./Indian-Female-Names.csv")

In [25]:
id2=np.array(ids).reshape(nv*ng)

In [26]:
idA={'id':id2,
    'name':name['name'][:nv*ng],
    'age' : [random.randint(7,100) for i in range(nv*ng)],
    'region':np.array([['region'+str(i) for j in range(nv)]for i in range(ng)]).reshape(nv*ng)}

In [27]:
pd.DataFrame(idA).to_csv('id.csv')

                id                 name  age    region
0     Rl9492BuQNat              shivani    8   region0
1     zo8D8V3NKu2J                 isha    9   region0
2     K8g4eyY4o2y4      smt shyani devi   44   region0
3     UqmWO6s2caRu                divya   92   region0
4     3A7l8unKG83O                mansi   81   region0
...            ...                  ...  ...       ...
1245  y41XXLbMg3bH                 neha   82  region24
1246  ks4g1OYdh5B1     priyanka - pinki    8  region24
1247  0u82z7GNzPXQ          kumari ritu   11  region24
1248  SN0mrdqr7E12              manisha   28  region24
1249  603u1KHpTbg5  krishna w/o hiralal   69  region24

[1250 rows x 4 columns]

In [ ]:
pd.DataFrame(conn).to_csv('conn.csv')

In [ ]:
aa

In [29]:
pd.DataFrame(np.array(ids).reshape(100)).to_csv('ID.csv')

In [30]:
pd.DataFrame(getConnections(ids)+getCRConnections(ids)).to_csv('Conn.csv')